*
analysis
analysis/*
!analysis/README.md
!config
!config/*
!resources
!resources/*
!.github
!.github/**
!workflow
!workflow/**
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!.yamllint.yml
!.flake8
!LICENSE
!README.md
